.blocks {
  width: 32%;
  height: 250px;
  overflow: scroll;
  background: #f4f4f9;
  font-size: 14px;
}

.property-block {
  text-align: left;
}

.property-value {
  text-align: left;
  padding: 20px 40px 20px 10px;
  border: 2px solid gray;
  margin-bottom: 5px;
  cursor: pointer;
}

.property-value--active {
  border-color: blue;
}

iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 400px;
}

.run-wrapper {
  text-align: center;
  padding: 20px;
}

.run-button {
  width: 200px;
  height: 40px;
}